.heroList {
  position: relative;
  padding: 10px;
  margin: 13px 62px;
  height: 50px;
  font-size: 30px;
  font-weight: 600;
}
.heroitem {
  padding: 10px;
  color: #363636;
}
.heroitem .herocard {
  width: 120px;
  padding: 5px;
  text-align: center;
}
.heroitem .herocard img {
  width: 100%;
  border: 2px solid #258df2;
  border-radius: 0 10px 0 10px;
}
